{% extends 'base.html' %}
{% block title_content %}
    <h1>
        Create Order
    </h1>
{% endblock %}
{% block breadcrumb %}
    {{ block.super}}
{% endblock breadcrumb %}
{% block contenedor %}
<div class="row">
    <!-- right column -->
    <div class="col-md-">
      <!-- Horizontal Form -->
      <div class="box box-info">
        <div class="box-header with-border">
{#          <h3 class="box-title">Nuevo agente de ventas</h3>#}
            Los campos necesarios están marcados <b style="color: red;">*</b>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form" id="form" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {% include "form_snippet.html" %}
          <!-- /.box-body -->
          <div class="box-footer">
    
            {% if order %}
                <a href="{% url 'work-orders-list' %}" class="btn btn-warning">Cancelar</a>
            {% endif %}
            <button type="submit" class="btn btn-info pull-right">Enviar</button>
          </div>
          <!-- /.box-footer -->
        </form>
      </div>
      <!-- /.box -->
    </div>
    <!--/.col (right) -->
  </div>
  <!-- /.row -->
{% endblock contenedor %}
{% block extrajs %}
    <script>
    $("div#example").dropzone({ url: "{% url "dropzone" %}" });
    $( "#id_start_date,#id_end_date" ).datepicker({
        format:'yyyy-m-dd'
    }).attr('readonly',true);
    </script>
{% endblock %}