{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    {{ block.super }} | Orders List
{% endblock %}
{% block title_conten %}
    Work Orders
{% endblock %}
{% block breadcrumb %}
    {{ block.super }}
    <li class="active">Orders List</li>
{% endblock %}
{% block contenedor %}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
              <h3 class="box-title">List</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="work-orders" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th></th>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>Coordinator</th>
                  <th>Wo Status</th>
                  <th>Wo</th>
                  <th>Estate</th>
                  <th>Adres</th>
                  <th>Client</th>
                  <th>Client Contract</th>
                  <th>Vendor</th>
                  <th>Vendor Sub-out</th>
                  <th>Sub-out%</th>
                  <th></th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>Coordinator</th>
                  <th>Wo Status</th>
                  <th>Wo</th>
                  <th>Estate</th>
                  <th>Adres</th>
                  <th>Client</th>
                  <th>Client Contract</th>
                  <th>Vendor</th>
                  <th>Vendor Sub-out</th>
                  <th>Sub-out%</th>
                  <th></th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
{% endblock contenedor %}
{% block extrajs %}
    <script>
    $(function () {
        dataTableElement('work-orders','{% url 'api-work-orders-list' %}');

    });
    </script>
{% endblock %}