{% for field in form %}
    {% if not field.is_hidden %}
        <div class="box-body">
            <div class="form-group">
                <label for="exampleInputEmail1">{{ field.label }}{% if field.field.required %}<b style="color: red;">*</b>{% endif %}</label>
                {{ field }}
                <div class="has-error">
                    {% for error in field.errors %}
                        <span class="help-block help_b_h_{{ field.html_name }}">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="help_text">
                    <span class="muted">
                        {{ field.help_text }}
                    </span>
                </div>
            </div>
        </div>
    {% else %}
        {{ field }}
    {% endif %}
{% endfor %}